/* login.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #31f8ff80, #b4f1917c);
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.login-form {
  background-color: #ffffff;
  border-radius: 35px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 28%;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.login-header img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #7f7f7f;
}

.input-container .form-control {
  padding-left: 40px;
  padding-right: 45px; /* Ajustado para el ícono derecho */
  border-radius: 5px;
}

.button-login {
  background-color: #469774;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.Register{
  text-decoration: none;
  color: white;
}


.button-login:hover,
.button-register:hover {
  background-color: #377459;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
